<section class="s-about">
    <div class="conteiner">
        <div class="b-about">
            <h1>Хочешь куда-нибудь сходить, но не с кем? Ищи компанию здесь!</h1>
            <ul class="l-about">
                <li class="l-about__item">1. Регистрируйся.</li>
                <li class="l-about__item">2. Создавай событие.</li>
                <li class="l-about__item">3. Укажи куда ты хочешь сходить.</li>
                <li class="l-about__item">4. Проводи время в замечательной компании.</li>
            </ul>
        </div>
    </div>
</section>
