.conteiner{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #f7fcff;
    padding-bottom: 15px;
}

.b-event{
    flex-basis: 1140px;
    margin-top: 25px;

    &__title{
        text-align: center;
        color: #0079ae;
    }
    
}

.f-createevent{
    margin-top: 20px; 
}

.b-submit{
    display: flex;
    justify-content: center;
    margin-top: 50px;


    &__btn{
        width: 500px;
        padding: 15px;
        transition: transform 0.2s ease-in-out;
        background-color: #0079ae;
        border-radius: 5px;
        color: #fff;
        font-weight: 600;
    }

    &__btn:hover{
        transform: scale(1.2);
        border-radius: 10px;
    }
}

.b-radio{
    border: solid 2px rgba($color: #e2e2e2, $alpha: .5);
    border-radius: 15px;
    padding: 15px;
    box-shadow: -1px 6px 15px -8px;
    &__title{
        text-align: center;
        font-weight: 600;
        color: #0079ae;
    }

    &__value{
        margin: 10px 0 10px 0;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    } 
}



.b-info{
    border: solid 2px rgba($color: #e2e2e2, $alpha: .5);
    border-radius: 15px;
    padding: 15px;
    box-shadow: -1px 6px 15px -8px;
    margin-top: 25px;

    &__title{
        text-align: center;
        font-weight: 600;
        color: #0079ae;
    }
    
}

.b-datatime{
    display: flex;
    margin-top: 20px;
 
    &__title{
        text-align: center;
        margin: 20px 0 20px 0;
        font-weight: 600;
        
    }

    &__dt{
        padding: 0 25px 0 25px; 
        flex-basis: 50%;
    } 
    .mat-input-element{
        text-align: center;
    }   
}

.example-full-width{
    display: block;
}
