<div class="conteiner">
    <div class="b-event">
        <h1 class="b-event__title">Создайте свое событие</h1>
        <form 
            class="f-createevent"
            name="creation-event"
            action="#"
            [formGroup]="creationEventForm"
            (submit)="onEventSubmit($event)" 
        >
            <div class="b-radio">
                <p class="b-radio__title">Тип вашего события<p>
                <mat-radio-group
                    class="b-radio__value"
                    formControlName="type"
                    aria-label="Select an option"
                >
                    <mat-radio-button class="b-radio__value-item" name="type" [value]="item" *ngFor="let item of eventsTypeList">
                        {{item}}
                    </mat-radio-button>
                </mat-radio-group> 
            </div>
            <div class="b-info">
                <p class="b-info__title">Информация о мероприятии</p>
        
                <mat-form-field class="example-full-width">
                    <mat-label>Название события</mat-label>
                    <input
                         matInput
                         #messages maxlength="30" 
                         placeholder="Название события..."
                         name="title"
                         formControlName="title"
                         type="text"
                    >
                    <mat-hint align="end">{{messages.value.length}} / 30</mat-hint>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Опишите событие</mat-label>
                    <textarea 
                        name="description"
                        formControlName="description"
                        matInput placeholder="Опишите событие..."
                        >
                    </textarea>
                </mat-form-field>
                <div class="b-datatime">
                    <div class="b-datatime__dt">
                        <p class="b-datatime__title">Дата</p>
                        <mat-form-field class="example-full-width">
                            <mat-label>Выберите дату</mat-label>
                            <input
                                matInput 
                                placeholder="Дата проведения события"
                                type="date"
                                name="date"
                                formControlName="date"
                            >
                        </mat-form-field>
                    </div>
                    <div class="b-datatime__dt">
                        <p class="b-datatime__title">Время</p>   
                        <mat-form-field class="example-full-width">
                            <mat-label>Выберите время</mat-label>
                            <input
                                 matInput 
                                 placeholder="Время проведения события"
                                 type="time"
                                 name="time"
                                 formControlName="time"
                            >
                        </mat-form-field>
                    </div>
                </div>
                <div class="b-submit">
                    <button 
                        type="submit" 
                        class="b-submit__btn"
                        [disabled]="!this.creationEventForm.valid"
                    >
                        Отправить
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>