<div class="conteiner">
    <div class="b-event">
        <h1 class="b-event__title">Создайте свое событие событие</h1>
        <form 
            class="b-form"
            name="creation-event"
            action="#"
            [formGroup]="creationEventForm"
            (submit)="onEventSubmit($event)" 
        >
            <div class="b-info">
                <p class="b-info__title">Информация о мероприятии</p>
        
                <mat-form-field class="example-full-width">
                    <mat-label>Название события</mat-label>
                    <input 
                         matInput
                         #messages maxlength="30" 
                         placeholder="Название события"
                         name="title"
                         formControlName="title"
                         type="text"
                    >
                    <mat-hint align="end">{{messages.value.length}} / 30</mat-hint>
                </mat-form-field>
        
                <mat-form-field class="example-full-width">
                    <mat-label>Опишите событие</mat-label>
                    <input
                         matInput 
                         #message maxlength="100"
                         placeholder="Описать событие"
                         name="description"
                         formControlName="description"
                         type="text"
                    >
                    <mat-hint align="end">{{message.value.length}} / 100</mat-hint>
                </mat-form-field>
            </div>
        
            <div class="b-data">
                <p class="b-data__title">Время проведения события</p>
        
                <mat-form-field class="example-full-width">
                    <mat-label>Дата проведения события</mat-label>
                    <input
                        matInput 
                        placeholder="Дата проведения события"
                        type="date"
                        name="date"
                        formControlName="date"
                    >
                </mat-form-field>
                
                <mat-form-field class="example-full-width">
                    <mat-label>Время проведения события</mat-label>
                    <input
                         matInput 
                         placeholder="Время проведения события"
                         type="time"
                         name="time"
                         formControlName="time"
                    >
                </mat-form-field>
            </div>

            <p class="b-form__type">Тип вашего события</p>
            <div class="b-radio">
                <mat-radio-group
                    class="b-radio__value"
                    formControlName="type"
                    aria-label="Select an option"
                >
                    <mat-radio-button name="type" [value]="item" *ngFor="let item of eventsTypeList">
                        {{item}}
                    </mat-radio-button>
                </mat-radio-group> 
            </div>

            <button type="submit" class="b-event__btn">Отправить</button>
        </form>
    </div>
</div>