<header class="header">
    <div class="conteiner">
        <div class="header-content">
            <div class="header-content__logo">
                <button
                    type="button"
                    class="header-content__logo-btn"
                    (click)="onShowNav($event)"
                >
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <a routerLink="">
                    <img src="/assets/logo_site.png" alt="site-logo" class="header-content__logo-img">
                </a>
            </div>  
            <div class="header-content__info">
                <div
                    class="b-nav"                        
                    (click)="onCloseNav($event)"
                >
                    <button
                        type="button"
                        class="b-nav__close"
                        (click)="onBtnCloseNav($event)"
                    >
                    </button>
                    <ul class="l-nav">
                        <li class="l-nav__link">
                            <a 
                                routerLink=""
                                routerLinkActive="_active"
                                [routerLinkActiveOptions]="{exact:true}"
                            >Главная</a>
                        </li>
                        <li class="l-nav__link">
                            <a 
                                routerLink="faq"
                                routerLinkActive="_active"
                                [routerLinkActiveOptions]="{exact:true}"
                            >FAQ</a>    
                        </li>       
                        <li class="l-nav__link">
                            <a 
                                routerLink="about"
                                routerLinkActive="_active"
                                [routerLinkActiveOptions]="{exact:true}"
                            >О проекте</a>
                        </li>
                        <li class="l-nav__link">
                            <a 
                            routerLink="event" 
                            routerLinkActive="_active"
                            [routerLinkActiveOptions]="{exact:true}"
                            (click)="onCreateEvent($event)"
                        >Создать событие</a>  
                        </li>                        
                    </ul>
                </div>
                <div class="b-auth">
                    <button
                        type="button" 
                        *ngIf= "!(userService.userData$ | async)"
                        class="b-auth__login"
                        (click)="OnAuthClick($event)"
                    >Войти</button>
                    <a 
                        routerLink="user" 
                        *ngIf="userService.userData$ | async as user"
                        
                        class="b-auth__user"
                    >
                        <img src="/assets/iconmonstr-user-20.svg" alt="user-logo">
                        <span>Привет, {{user.firstName}}</span>
                    </a>
                    <button
                        type="button"  
                        *ngIf="userService.userData$ | async"
                        class="b-auth__exit"
                        href=""
                        (click)="onLogOut($event)"
                    >
                        <img src="/assets/iconmonstr-door-8.svg " alt="logout">
                        <span>Выйти</span>
                    </button> 
                </div>
            </div>
        </div>
    </div>
</header>
