@import 'abstracts/variables.scss';

.header {
    
    &-content {
        border: 1px solid;
        padding: 20px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 600;

        &__logo {
            flex-basis: 150px;
            height: auto;

            &-img {
                max-width: 100%;
            }
        }

        &__info {
            display: flex;
            flex-basis: 900px;
            align-items: center;
            justify-content: space-between;
            color: $mainTextColor;

        }
    }
}




.l-nav {

    &__link a {
        position: relative;
        padding: 5px 0;


        &::after {
            position: absolute;
            content: '';
            height: 3px;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: $mainColor;
            transition: transform .2s ease-out;
            transform: scaleX(0);
            transform-origin: 0;
        }

        &:hover::after {
            transform: scaleX(1);

        }

        &._active::after {
            position: absolute;
            content: '';
            height: 3px;
            bottom: 0;
            left: 0;
            background-color: $mainColor;
            transform: scaleX(1);
            transition: all 0.2s ease-in-out;   
        }

    }


    &__link:nth-child(n+2){
        margin-left: 60px;
    }
}

.b-event {
    a {
        border: 1px solid;
        padding: 8px ;
        border-radius: 3px;

    }
}

.b-auth {
    display: flex;
    align-items: center;

    &__login {
        border: 2px solid rgba(0,0,10,0.08);
        border-radius: 3px;
        transition: 0.2s ease-out;
        padding: 8px;
        font-size: 16px;

        &:hover {
            transition: 0.5s ease-out;
            background-color: $mainColor ;
            border-color: $mainColor;
            color: #ffffff;
        }
    }

    &__user {
        display: flex;
        align-items: center;
        position: relative;
        padding: 5px 0;
        margin-right: 20px;
        
        & span {
            margin-left: 5px;
        }   
    }

    &__exit {
        display: flex;
        align-items: center;
        position: relative;
        padding: 5px 0;
        
        & span {
            margin-left: 5px;
        }

    }

}



