@import 'abstracts/mixins';

.header {

    &-content {
        padding: 20px 0;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 600;

        &__logo {
            flex-basis: 150px;
            height: auto;
            display: flex;
            margin-right: 20px;

            & a {
                font-size: 0;
            }

            &-img {
                max-width: 150px;
            }

            &-btn {
                display: none;
                margin-right: 10px;

                & span {
                    display: block;
                    width: 25px;
                    height: 3px;
                    background-color: $mainTextColor;
    
                    &:nth-of-type(n+2) {
                        margin-top: 4px;
                    }
                }
            }
        }

        &__info {
            display: flex;
            flex-basis: 800px;
            align-items: center;
            justify-content: space-between;
            color: $mainTextColor;
        }
    }
}

.b-nav {
    &__close {
        display: none;
        position: absolute;
        width: 25px;
        height: 25px;
        right: 0;
        top: 0;

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            width: 23px;
            height: 3px;
            background: rgb(227, 24, 55);
            transform: rotate(45deg);
            transition: all 0.3s ease-out;
        }

        &:active {
            transform: scale(0.8);
        }

        &:after {
            transform: rotate(-45deg);
            transition: all 0.3s ease-out;
        }

        &:hover:before,
        &:hover:after {
            transform: rotate(180deg);
            background: rgb(227, 24, 55); 
        }
    }
}

.l-nav {

    &__link a {
        position: relative;
        padding: 5px 0;


        &::after {
            position: absolute;
            content: '';
            height: 3px;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: $mainColor;
            transition: transform .2s ease-out;
            transform: scaleX(0);
            transform-origin: 0;
        }

        &:hover::after {
            transform: scaleX(1);

        }

        &._active::after {
            position: absolute;
            content: '';
            height: 3px;
            bottom: 0;
            left: 0;
            background-color: $mainColor;
            transform: scaleX(1);
            transition: all 0.2s ease-in-out;   
        }
    }

    &__link:nth-child(n+2){
        margin-left: 40px;
    }
}

.b-auth {
    display: flex;
    align-items: center;

    &__login {
        border: 2px solid rgba(0,0,10,0.08);
        border-radius: 3px;
        transition: 0.2s ease-out;
        padding: 5px 10px;
        font-size: 16px;

        &:hover {
            transition: 0.5s ease-out;
            background-color: $mainColor ;
            border-color: $mainColor;
            color: #ffffff;
        }
    }

    &__user {
        display: flex;
        align-items: center;
        position: relative;
        padding: 5px 0;
        margin-right: 20px;
        
        & span {
            margin-left: 5px;
        }   
    }

    &__exit {
        display: flex;
        align-items: center;
        position: relative;
        padding: 5px 0;
        font-size: 16px;
        
        & span {
            margin-left: 5px;
        }
    }
}


@include tablet() {
    .header {
    
        &-content {
            position: relative;

            &__logo {

                &-btn {
                    display: block;
                }
            }

            &__info {
                justify-content: flex-end;
            }
        }
    }

    .b-nav {
        opacity: 0;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        color: #ffffff;
        z-index: 10;
        background-color: transparent;
        pointer-events: none;
        transform: translateY(-100%);

        &__close {
            display: block;
            z-index: 15;
            padding: 24px;
        }

        &._open {
            opacity: 1;
            pointer-events: auto;
            transform: translateY(0);
            transition: transform .2s, opacity .2s;
        }
    } 

        .l-nav{
            height: fit-content;
            background-color: rgba($color: #0f0f0f, $alpha: .8);
            padding: 20px;



            &__link {
                display: block;
            }

            &__link:nth-child(n+2){
            margin-left: 0px;
            margin-top: 10px;
        }
    } 


@include mobile() {
    .header {
    
        &-content {
            padding: 20px 10px;
        }
    }

    .b-auth {

        &__user {

            & span {
                display: none;
            }   
        }
    
        &__exit {

            & span {
                display: none;
            }
        }
    }
}}
