<div class="b-events">
    <app-placeholder class="b-events__placeholder" *ngIf="!createdEvents.length"></app-placeholder>
    <ul class="l-events" *ngIf="createdEvents.length">
        <li *ngFor="let event of createdEvents" class="l-events__item">
            <app-eventitem 
                [canDelete]="true"
                [userData]="userData"
                [isButtonVisible]="isButtonVisible" 
                [event]="event" 
                (eventDelete)="onClickDelete($event)"
            >
            </app-eventitem>
        </li>
    </ul>
</div>