@import 'abstracts/variables.scss';
@import 'abstracts/mixins';

.b-events {
    padding: 30px;  
}

.l-events{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;


    &__item{
        flex-basis: 33.333%;
        padding: 0 20px; 

        &:nth-child(n+4){
            margin-top: 40px;
        }
    }
}

@include tablet(){
    .l-events{
        &__item{
            flex-basis: 50%; 

            &:nth-child(n+3){
                margin-top: 40px;
            }
        }   
    }
} 

@include mobile(){
    .l-events{
        padding:20px 10px;

        &__item{
            flex-basis: 100%; 

            &:nth-child(n+2){
                margin-top: 30px;
            }
        }
        
    }
} 