@import 'abstracts/mixins';

.s-eventPage {
    padding: 50px 0;
}

.b-eventPage {
    display: flex;
    background-color: rgb(179, 232, 255);

    &__img {
        flex-basis: 40%;

        & img {
            width: 100%;
            height: 100%;
        }
    }

    &__info {
        flex-basis: 60%;
        padding:  90px 20px;
        text-align: center;
        position: relative;
        color: $mainTextColor;
        font-weight: 600;

        &-type{
            position: absolute;
            right: 0;
            top: 15px;
            border-radius: 10px 0px 0px 10px;
            color:#fff;
            font-weight: 600;
            padding: 4px 0 4px;
        }

        &-title {
            margin-bottom: 20px;
        }

        &-description {
            font-weight: 400;
        }

        &-dateTime{
            position: absolute;
            padding: 4px 0 4px;
            left: 10px;
            top: 15px;
        }        
    }

    &__btn{
        padding: 7px 21px ;
        border-radius: 3px;
        background-color: $mainBtnColor;
        color: #fff;
        transition: transform 0.2s ease-in-out;
        font-size: 16px;
        position: absolute;
        right: 15px;
        bottom: 10px;
    }
    
    &__btn:hover{
        transform: scale(1.1);
    }

    &__visitors {
        align-self: center;
        position: absolute;
        left: 15px;
        bottom: 10px;
        text-align: left;
    }
    
    &__iGo {
        padding: 7px 21px ;
        border-radius: 3px;
        background-color: $mainBtnColorIGo;
        color: #fff;
        transition: transform 0.2s ease-in-out;
        font-size: 16px;
        position: absolute;
        right: 15px;
        bottom: 10px;
        width: 95px; 
    }
}

.b-dateTime {

    &__date{
        margin-bottom: 10px;
    }

    &__date, &__time {
        display: flex;
        align-items: center;
        color: $mainTextColor;

        & span {
            margin-left: 5px;
        }
    }

    &__time{
        text-align: left;
    }
}

.l-vistors {
    height: 65px;
    overflow-y: scroll;

    &::-webkit-scrollbar-track {
        border-radius: 5px;
    }

    &::-webkit-scrollbar {
        width: 2px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
    }

    &:hover::-webkit-scrollbar-thumb {
        background: #6a7d9b;
    }

    &__item {
        display: block;

        & p {
            font-size: 12px;

            &:nth-of-type(n+2){
                font-size: 10px;
            }
        }

        &:nth-of-type(n+2) {
            margin-top: 5px;
        }
    }
}


@include tablet() {

    .b-eventPage {    
        &__img {
            flex-basis: 0;
        }
    
        &__info {
            flex-basis: 100%;
            padding:  100px 20px;
        
            &-title {
                margin-bottom: 5px;
            }
    
            &-description {
                font-size: 14px;
            }        
        }

        &__visitors {
            bottom: 5px;
        }
    }
}
