<div class="conteiner">
    <div class="b-user">
        <aside class="b-user__aside">
            <ul>
                <li>
                    <a mat-stroked-button color="accent" routerLink="me">Личная информация</a>
                </li>
                <li>
                    <a mat-stroked-button color="accent" routerLink="events">Мои подписки</a>
                </li>
                <li>
                    <a mat-stroked-button color="accent" routerLink="created-events">Созданные события</a>
                </li>
            </ul>
        </aside>
        <main class="b-user__main">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>