
.b-user {
    display: flex;
    flex-wrap: wrap;
    

    &__aside {
        padding: 20px;
        flex-basis: 300px;
        border: 1px solid;
    }

    &__main {
        padding: 20px;
        flex-basis: calc(100% - 300px);
        border: 1px solid;
    }

    a:hover{
        color: #69f0ae;
        transition: 0.1s linear
    }

    ul{
        text-align: center;
    }

    li {
        display: block;
    }

    li + li {
        margin-top: 35px;
    }
}