@import 'abstracts/variables.scss';
@import 'abstracts/mixins';

.b-user {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-shadow: 0 23px 93px -48px; ;
    
    &__aside {
        padding: 40px 40px 0 40px; 
    }

    &__main {
        padding: 20px;
        
    }

    &__background{
        background-color: $mainColor;
        display: flex;
        justify-content: center;
        box-shadow: 0px 2px 8px -3px;
        border-radius: 0 0 10px 10px;
        padding: 50px;

        &__img{
            width: 100%;
        }
    }

    a::after{
        content: "";
        display: block;
        height: 3px;
        background-color: $mainColor;
        margin-top: 15px;
        transform: scaleX(0);
        transition: all 0.2s ease-in-out;   
    }

    a:hover::after{
        transform: scaleX(1);        
    }

    ._active::after{
        content: "";
        display: block;
        height: 3px;
        background-color: $mainColor;
        margin-top: 15px;
        transform: scaleX(1);
        transition: all 0.2s ease-in-out;   
    }

    ul{
        display: flex;
        flex-wrap: wrap;
        border-bottom: 2px solid rgba($color: #e2e2e2, $alpha: .5);
    }

    li {
        margin: 0 20px;
    }

}

@include mobile(){
    .b-user {
        &__aside {
            padding: 0; 
        }

        &__background{
            padding: 25px;
        }

        ul{
            flex-direction: column;
            padding: 25px 0;
            text-align: center;
        }
        ._active::after{
            content: "";
            margin-top: 5px;    
        }

        li:nth-child(n+2){
            margin-top: 20px;
        }

        &__main{
            padding: 0 0 15px 0;
        }

    }
} 