
.b-user {
    display: flex;
    flex-wrap: wrap;
    

    &__aside {
        padding: 20px;
        flex-basis: 300px;
        border: 1px solid;
    }

    &__main {
        padding: 20px;
        flex-basis: calc(100% - 300px);
        border: 1px solid;
    }

    a:hover{
        transform: scale(1.2, 1.2);
    }
    a{
        transition: all 0.3s ease-in-out;
    }

    ul{
        text-align: center;
    }

    li {
        display: block;
    }

    li + li {
        margin-top: 35px;
    }
}