<div class="conteiner">
    <div class="b-user">
        <div class="b-user__background">
            <img src="/assets/logo_site.png" alt="site-logo" class="b-user__background__img">
        </div>
        <aside class="b-user__aside">
            <ul>
                <li>
                    <a 
                    routerLinkActive="_active"
                    [routerLinkActiveOptions]="{exact:true}" 
                    routerLink="me">
                    Личная информация
                    </a>
                </li>
                <li>
                    <a
                    routerLinkActive="_active"
                    [routerLinkActiveOptions]="{exact:true}"  
                    routerLink="events">
                    Мои подписки
                    </a>
                </li>
                <li>
                    <a
                    routerLinkActive="_active"
                    [routerLinkActiveOptions]="{exact:true}"  
                    routerLink="created-events">
                    Созданные события
                    </a>
                </li>
            </ul>
        </aside>
        <main class="b-user__main">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>