@import 'abstracts/mixins';

.b-filter {
    background-color: coral;
    padding: 20px;
}

.l-list {
    display: flex;
    justify-content: space-around;
}

.b-events {
    padding: 50px 0;  
}

.l-events{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;

    &__item{
        flex-basis: 33.333%;
        padding: 0 20px; 

        &:nth-child(n+4){
            margin-top: 40px;
        }
    }
}

@include tablet(){
    .l-events{
       
        &__item{
            flex-basis: 50%; 

            &:nth-child(n+3){
                margin-top: 40px;
            }
        }
        
    }
} 