@import 'abstracts/mixins';

.b-filter {
    background-color: coral;
    padding: 20px;
}

.l-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

.b-events {
    padding: 50px 0;  
}

.l-events{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;

    &__item{
        flex-basis: 33.333%;
        padding: 0 20px; 

        &:nth-child(n+4){
            margin-top: 40px;
        }
    }
}

@include tablet(){

    .l-events{

        &__item{
            flex-basis: 50%; 

            &:nth-child(n+3){
                margin-top: 40px;
            }
        }
        
    }
} 

@include mobile(){

    .l-events{
        padding: 0;

        &__item{
            flex-basis: 100%; 

            &:nth-child(n+2){
                margin-top: 40px;
            }
        }    
    }

    .b-filter {
        overflow: auto;
        white-space: nowrap
    }

    .l-list {
        display: inline-block;
        padding: 10px;
        text-decoration: none;
        font-size: 20px;
        
        &__link{
            margin-right: 50px;
        }

        &__link button{
            font-size: 25px;
        }
    }
} 