<section>
    <div class="conteiner">
        <div class="b-filter">
            <ul class="l-list">
                <li class="l-list__link">
                    <button 
                    type="button" 
                    (click)="OnFilterClick($event)"
                    >
                    Кино
                    </button>
                </li>
                <li class="l-list__link">
                    <button 
                    type="button" 
                    (click)="OnFilterClick($event)"
                    >
                    Концерты
                    </button>
                </li>
                <li class="l-list__link">
                    <button 
                    type="button" 
                    (click)="OnFilterClick($event)"
                    >
                    Фестивали
                    </button>
                </li>
                <li class="l-list__link">
                    <button 
                    type="button" 
                    (click)="OnFilterClick($event)"
                    >
                    Вечеринки
                    </button>
                </li>
                <li class="l-list__link">
                    <button 
                    type="button" 
                    (click)="OnFilterClick($event)"
                    >
                    Спектакли
                    </button>
                </li>
                <li class="l-list__link">
                    <button 
                    type="button" 
                    (click)="OnFilterClick($event)"
                    >
                    Выставки
                    </button>
                </li>
                <li class="l-list__link">
                    <button 
                    type="button" 
                    (click)="OnFilterClick($event)"
                    >
                    Другое
                    </button>
                </li>
                <li class="l-list__link">
                    <button 
                    type="button" 
                    (click)="OnFilterClick($event)"
                    >
                    Активности
                    </button>
                </li>
            </ul>
        </div>
        <div class="b-events">
            <ul class="l-events">
                <li *ngFor="let event of (filteredEvents | async)" class="l-events__item">
                    <div class="l-events__item-info">
                        <div [style.backgroundColor]="colorsTable[event.type]" class="l-events__info-type">{{event.type}}</div>
                        <div class="l-events__info-title">{{event.title}}</div>
                        <div class="l-events__info-text">{{event.description}}</div>
                        <div class="l-events__info-time">{{event.date | date:'shortTime'}}</div>
                        <div [style.color]="colorsTable[event.type]" class="l-events__info-date">{{event.date | date:'longDate'}}</div>
                        <button class="l-events__info-btn" type="button">Подписаться</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>