<section class="s-main">
    <div class="conteiner">
        <div class="b-main">
            <div class="b-main__filter">
                <ul class="l-filter">
                    <li *ngFor="let event of typeOfEvents" class="l-filter__link">
                        <button 
                            type="button" 
                            (click)="OnFilterClick(event)"
                        >{{event}}
                        </button>
                    </li>
                </ul>
            </div>
            <div class="b-events">
                <app-placeholder *ngIf="!eventsAll.length"></app-placeholder>
                <ul class="l-events" *ngIf="eventsAll.length">
                    <li *ngFor="let event of (filteredEvents | async )" class="l-events__item">
                        <app-eventitem
                            [userData]="userData"
                            [event]="event"                       
                        ></app-eventitem>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</section>