@import 'abstracts/mixins';

.b-main {

    &__filter {
        background: rgb(179, 232, 255);
        border-radius: 3px;
        padding: 10px 0;
    }

    &__events {
        padding: 50px 0;  
    }
}

.l-filter {
    display: flex;
    justify-content: space-around;

    &__link button {
        position: relative;
        padding: 5px 0;


        &::after {
            position: absolute;
            content: '';
            height: 3px;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: $mainColor;
            transition: transform .2s ease-out;
            transform: scaleX(0);
        }

        &:hover::after {
            transform: scaleX(1);

        }

        &._active::after {
            position: absolute;
            content: '';
            height: 3px;
            bottom: 0;
            left: 0;
            background-color: $mainColor;
            transform: scaleX(1);
            transition: all 0.2s ease-in-out;   
        }

    }
}

.b-events {
    padding: 40px 0 50px 0; 
    overflow-x: hidden; 
}

.l-events{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;

    &__item{
        flex-basis: 33.333%;
        padding: 0 20px; 

        &:nth-child(n+4){
            margin-top: 40px;
        }
    }
}


@include tablet(){
    .l-events{
        
        &__item{
            flex-basis: 50%; 

            &:nth-child(n+3){
                margin-top: 40px;
            }
        }
    }

    .b-main {

        &__filter {
            overflow: auto;
            white-space: nowrap
        }    
    }

    .l-filter {
        display: inline-block;
        text-decoration: none;
        
        &__link{
            margin-right: 30px;
        }

        &__link button{
            font-size: 16px;
        }   
    }
} 

@include mobile(){
    .l-events{
        padding: 0;
        margin: 0 -15px;

        &__item{
            flex-basis: 100%; 
            padding: 0 15px;

            &:nth-child(n+2){
                margin-top: 40px;
            }
        }    
    }
} 
