<div class="conteiner">
    <div class="b-filter">
        <ul class="l-list">
            <li class="l-list__link">
                <a href="#">Кино</a>
            </li>
            <li class="l-list__link">
                <a href="#">Концерты</a>
            </li>
            <li class="l-list__link">
                <a href="#">Фестивали</a>
            </li>
            <li class="l-list__link">
                <a href="#">Вечеринки</a>
            </li>
            <li class="l-list__link">
                <a href="#">Спектакли</a>
            </li>
            <li class="l-list__link">
                <a href="#">Выставки</a>
            </li>
            <li class="l-list__link">
                <a href="#">Другое</a>
            </li>
            <li class="l-list__link">
                <a href="#">Активности</a>
            </li>
        </ul>
    </div>
    <div class="b-events">
        <ul class="l-events">
            <li class="l-events__item">
                <div class="l-events__item-info">
                    <div class="l-events__item-info-type">Тип события</div>
                    <div class="l-events__item-info-date">Дата</div>
                    <div class="l-events__item-info-time">Время</div>
                    <p class="l-events__item-info-text">Текст описания события события</p>
                    <button class="l-events__item-info-btn">Подписаться</button>
                </div>
            </li>
            <li class="l-events__item">
                <div class="l-events__item-info">
                    <div class="l-events__item-info-type">Тип события</div>
                    <div class="l-events__item-info-date">Дата</div>
                    <div class="l-events__item-info-time">Время</div>
                    <p class="l-events__item-info-text">Текст описания события события</p>
                    <button class="l-events__item-info-btn">Подписаться</button>
                </div>
            </li>
            <li class="l-events__item">
                <div class="l-events__item-info">
                    <div class="l-events__item-info-type">Тип события</div>
                    <div class="l-events__item-info-date">Дата</div>
                    <div class="l-events__item-info-time">Время</div>
                    <p class="l-events__item-info-text">Текст описания события события</p>
                    <button class="l-events__item-info-btn">Подписаться</button>
                </div>
            </li>
            <li class="l-events__item">
                <div class="l-events__item-info">
                    <div class="l-events__item-info-type">Тип события</div>
                    <div class="l-events__item-info-date">Дата</div>
                    <div class="l-events__item-info-time">Время</div>
                    <p class="l-events__item-info-text">Текст описания события события</p>
                    <button class="l-events__item-info-btn">Подписаться</button>
                </div>
            </li>
            <li class="l-events__item">
                <div class="l-events__item-info">
                    <div class="l-events__item-info-type">Тип события</div>
                    <div class="l-events__item-info-date">Дата</div>
                    <div class="l-events__item-info-time">Время</div>
                    <p class="l-events__item-info-text">Текст описания события события</p>
                    <button class="l-events__item-info-btn">Подписаться</button>
                </div>
            </li>
            <li class="l-events__item">
                <div class="l-events__item-info">
                    <div class="l-events__item-info-type">Тип события</div>
                    <div class="l-events__item-info-date">Дата</div>
                    <div class="l-events__item-info-time">Время</div>
                    <p class="l-events__item-info-text">Текст описания события события</p>
                    <button class="l-events__item-info-btn">Подписаться</button>
                </div>
            </li>
            <li class="l-events__item">
                <div class="l-events__item-info">
                    <div class="l-events__item-info-type">Тип события</div>
                    <div class="l-events__item-info-date">Дата</div>
                    <div class="l-events__item-info-time">Время</div>
                    <p class="l-events__item-info-text">Текст описания события события</p>
                    <button class="l-events__item-info-btn">Подписаться</button>
                </div>
            </li>
            <li class="l-events__item">
                <div class="l-events__item-info">
                    <div class="l-events__item-info-type">Тип события</div>
                    <div class="l-events__item-info-date">Дата</div>
                    <div class="l-events__item-info-time">Время</div>
                    <p class="l-events__item-info-text">Текст описания события события</p>
                    <button class="l-events__item-info-btn">Подписаться</button>
                </div>
            </li>
        </ul>
    </div>
</div>