@import 'abstracts/mixins';

.b-me{
    padding: 35px;
    padding-bottom: 40px;
 
    &__item:nth-child(n+2){
        border-top: 1px solid rgba($color: #e2e2e2, $alpha: .5);
        margin-top: 35px;
        padding-top: 35px;
    }

    &__item{
        padding-left: 20px;
        font-size: 25px;
    }

    
}

@include mobile(){

    .b-me{
        padding: 0; 
    }
} 