$mainColor: #69f0ae;
$mainTextColor:#38384f;
$tabletWidth: 992px;
$mobileWidth: 740px;

$breakPoints:(
    'desktop': 1200px,
    'tablet': 992px,
    'mobile': 740px
);

$mainBtnColor: rgba(227, 24, 55);
$mainBtnColorIGo: rgba(227, 24, 55, 0.5);