* {
    font-weight: 600;
    letter-spacing: 1px;
}

.header {
    border: 1px solid;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-logo {
        flex-basis: 150px;
        height: auto;

        &__img {
            max-width: 100%;
        }
    }

    &-info {
        display: flex;
        flex-basis: 800px;
        align-items: center;
        justify-content: space-between;
        color: #38384f;
    }
}

.l-nav {

    &__link:nth-child(n+2){
        margin-left: 60px;
    }
}

.b-event {

    border-radius: 3px;
}

.b-auth {
    border: 2px solid rgba(0,0,10,0.08);
    border-radius: 3px;
    padding: 8px;
    transition: 0.5s ease-out;


    &:hover {
        transition: 0.5s ease-out;
        background-color: #69f0ae ;
        border-color:#69f0ae;
        color: #ffffff;
    }
}




