<header>
    <div class="conteiner">
        <div class="header">
            <div class="header-logo">
                <img src="/assets/logo_site.png" alt="site-logo" class="header-logo__img">
            </div>
            <div class="header-info">
                <div class="b-nav">
                    <ul class="l-nav">
                        <li class="l-nav__link">
                            <a routerLink="">Главная</a>
                        </li>
                        <li class="l-nav__link">
                            <a routerLink="faq">FAQ</a>    
                        </li>       
                        <li class="l-nav__link">
                            <a routerLink="about">О проекте</a>
                        </li>
                    </ul>
                </div>
                <div class="b-event">
                    <button 
                    type="button"
                    mat-raised-button color="primary" 
                    routerLink="event"
                    >
                    Создать событие
                    </button>    
                </div>
                <div class="b-auth">
                    <button
                    type="button"
                    routerLink="auth" 
                    *ngIf="isLoggedIn"
                    class="b-auth__login"
                    >
                    Зарегистрироваться / Войти
                    </button>
                    <a 
                    routerLink="auth" 
                    *ngIf="!isLoggedIn"
                    class="b-auth__user"
                    >
                        <img src="/assets/iconmonstr-user-20.svg" alt="user-logo">
                        <span>Пользователь</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<router-outlet></router-outlet>