<div  class="b-events">
    <ul  class="l-events">
        <li *ngFor="let event of userEvents" class="l-events__item">
            <div [style.backgroundImage]="imagesTable[event.type]" class="l-events__item-info">
                <div [style.backgroundColor]="colorsTable[event.type]" class="l-events__info-type">{{event.type}}</div>
                <div class="l-events__info-title">{{event.title}}</div>
                <p class="l-events__info-text">{{event.description}}</p>
                <div class="l-events__info-time">{{event.date | date:'shortTime'}}</div> 
                <div [style.color]="colorsTable[event.type]" class="l-events__info-date">{{event.date | date:'longDate'}}</div>
            </div> 
        </li>
    </ul>
</div>
