@import 'abstracts/variables.scss';
@import 'abstracts/mixins';

.b-event{
    position: relative;

    &__info {
        border-radius: 15px;
        box-shadow: 4px 4px 12px -4px;
        padding: 60px 15px;
        position: relative;
        background-repeat: no-repeat ;
        background-size: cover;
        display: block;
    }

    &__type{
        position: absolute;
        padding: 4px 0 4px;
        padding-left: 15px;
        padding-right: 10px;
        left: 0;
        top: 20px;
        border-radius: 0px 10px 10px 0px;
        color:#fff;
        font-weight: 600;
        box-shadow: #000 6px -2px 18px -8px;
    }

    &__title{
        margin: 70px 0 30px;
        font-weight: 600; 
        color: #fff;
        
    } 

    &__dateTime{
        position: absolute;
        right: 15px;
        top: 50px;

        &-date{
            margin-bottom: 10px;
        }
    
        &-date, &-time {
            display: flex;
            align-items: center;
            color: white;
    
            & span {
                margin-left: 5px;
            }

            & svg {
                fill: white;
            }
        }
    
        &-time{
            justify-content: flex-end;
        }
    }


    &__btn{
        padding: 7px 21px ;
        border-radius: 3px;
        background-color: $mainBtnColor;
        color: #fff;
        transition: transform 0.2s ease-in-out;
        font-size: 16px;
        position: absolute;
        right: 15px;
        bottom: 10px;
    }

    &__btn:hover{
        transform: scale(1.1);
    }

    &__visitors {
        align-self: center;
        color: white;
        position: absolute;
        left: 15px;
        bottom: 10px;
    }

    &__iGo {
        padding: 7px 21px ;
        border-radius: 3px;
        background-color: $mainBtnColorIGo;
        color: #fff;
        transition: transform 0.2s ease-in-out;
        font-size: 16px;
        position: absolute;
        right: 15px;
        bottom: 10px;
        width: 95px; 
    }
    
    &__btn:hover{
        transform: scale(1.1);
    } 
}

.btn-event{
    &__close{
        position: absolute;
        width: 25px;
        height: 25px;
        right: 15px;
        top: 10px;
        z-index: 1;

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            width: 23px;
            height: 3px;
            background: rgb(227, 24, 55);
            transform: rotate(45deg);
            transition: all 0.3s ease-out;
        }

        &:active {
            transform: scale(0.8);
        }

        &:after {
            transform: rotate(-45deg);
            transition: all 0.3s ease-out;
        }

        &:hover:before,
        &:hover:after {
            transform: rotate(180deg);
            background: rgb(227, 24, 55); 
        }
    }
}

@include tablet(){
    .b-event{
        &__dateTime{
            top: 60px;
        } 
        
        .btn-event{
            &__close{
                top: 23px;
                right: 23px;  
            }
        }
    }

}

@include mobile(){
    .b-event{
        &__dateTime{
            display: flex;
            justify-content: space-around;
            align-items: baseline;
            top: 75px;
        } 

        &__dateTime{
            &-time{
                margin-left: 23px;
            }
        }
        
        .btn-event{
            &__close{
                top: 20px; 
                right: 23px;  
            }
        }
    }
} 