<section class="s-auth">
    <div class="conteiner">
        <div class="b-auth">
            <mat-tab-group mat-align-tabs="start">
                <mat-tab label="Регистрация">
                    <div class="b-registr">
                        <form action="#" class="f-registr">
                            <h3>Регистрация нового пользователя</h3>
                            <div class="f-registr__row">
                                <input 
                                    type="text"
                                    name="login"
                                    placeholder="login"
                                    class="f-registr__field"
                                >
                            </div>
                            <div class="f-registr__row">
                                <input 
                                    type="password"
                                    name="password"
                                    placeholder="password"
                                    class="f-registr__field"
                                >
                            </div>
                            <div class="f-registr__row">
                                <input 
                                    type="password"
                                    name="retype_password"
                                    placeholder="retype_password"
                                    class="f-registr__field"
                                >
                            </div>
                            <div class="f-registr__row">
                                <input 
                                    type="email"
                                    name="email"
                                    placeholder="email"
                                    class="f-registr__field"
                                >
                            </div>
                            <div class="f-registr__row">
                                <input 
                                    type="text"
                                    name="firstName"
                                    placeholder="firstName"
                                    class="f-registr__field"
                                >
                            </div>
                            <div class="f-registr__row">
                                <input 
                                    type="text"
                                    name="lastName"
                                    placeholder="lastName"
                                    class="f-registr__field"
                                >
                            </div>
                            <div class="f-registr__row">
                                <input 
                                    type="tel"
                                    name="tel"
                                    placeholder="tel"
                                    class="f-registr__field"
                                >
                            </div>
            
                            <div class="f-registr__actions">
                                <button 
                                    type="submit"
                                    class="f-registr__btn"
                                >
                                    Registration
                                </button>
                            </div>
            
                        </form>
            
                    </div>
                </mat-tab>
                <mat-tab label="Войти">
                    <div class="b-login">
                        <form action="#" class="f-login">
                            <h3>Регистрация нового пользователя</h3>
                            <div class="f-login__row">
                                <input 
                                    type="email"
                                    name="email"
                                    placeholder="login"
                                    class="f-login__field"
                                >
                            </div>
                            <div class="f-login__row">
                                <input 
                                    type="password"
                                    name="password"
                                    placeholder="password"
                                    class="f-login__field"
                                >
                            </div>
                            <div class="f-login__actions">
                                <button 
                                    type="submit"
                                    class="f-login__btn"
                                >
                                    Войти
                                </button>
                            </div>
            
                        </form>
            
                    </div>                
                </mat-tab>
            </mat-tab-group>
        </div>    
    </div>
</section>


