
.s-auth {
position: fixed;
width: 100%;
height: 100%;
background-color: rgba($color: #0f0f0f, $alpha: .8);
z-index: 1000;
overflow: auto;
text-align: center;

    &::after {
    content: "";
    width: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    }

    & > .conteiner {
        display: inline-block;
        vertical-align: middle;
    }
}



.b-auth {

    padding: 30px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid;
    min-height: 468px;
    position: relative;
    text-align: left;

}

.b-signUp {
    width: 380px;
}

.f-signUp {

    & h3 {
        margin-bottom: 10px;
    }


    &__row {
        width: 100%;

        & + & {
            margin-top: 10px;
        }
    }

    &__actions {
        margin-top: 20px;
        text-align: right;

    }

    &__btn {
        background-color: #e31837 ;
        border-radius: 3px;
        padding: 10px;
        color: white;

        &:disabled {
            opacity: .5;
        }
    }
}

.b-signIn {
    width: 380px;
}

.f-signIn {

    & h3 {
        margin-bottom: 10px;
    }

    &__row {
        width: 100%;

        & + & {
            margin-top: 10px;
        }
    }

    &__actions {
        margin-top: 20px;
        text-align: right;

    }

    &__btn {
        background-color: #e31837 ;
        border-radius: 3px;
        padding: 10px;
        color: white;

        &:disabled {
            opacity: .5;
        }
    }
}


.btn-auth {

    &__close {
        position: absolute;
        width: 25px;
        height: 25px;
        right: 0;
        top: 0;

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            width: 23px;
            height: 3px;
            background: rgb(227, 24, 55);
            transform: rotate(45deg);
            transition: all 0.3s ease-out;
        }

        &:active {
            transform: scale(0.8);
        }

        &:after {
            transform: rotate(-45deg);
            transition: all 0.3s ease-out;
        }

        &:hover:before,
        &:hover:after {
            transform: rotate(180deg);
            background: rgb(227, 24, 55); 
        }
    }

    &__change {
        margin-top: 10px;
    }
}